<span></span>
<table>
  <tr>
    <th> DODGEBALL</th>

  </tr>

  <tr>
    <td>
      <canvas class="canvas" id="mycanvas" height="600" width="600">
        <p>Not Supported</p>
      </canvas>
    </td>
    <td>
      <table border="">
        <tr>
          <th></th>
          <th>Lives</th>
          <th>Balls In Hand</th>
        </tr >

        <tr >
          <td><%= params["name1"] %></td>
          <td id="player1lives" >3</td>
          <td id="player1balls" >0</td>
        </tr>

        <tr>
          <td><%= params["name2"] %></td>
          <td id="player2lives">3</td>
          <td id="player2balls" >0</td>
        </tr>

      </table>
      <a href="/newgame">New Game</a>
   </td>
  </tr>

 </table>





