<h3>NEW GAME</h3>

<form action="<%= @action %>" method="get">
  <div>
    <label>Player1 Name</label>
    <input type="text" name="player1" value="name1">
  </div>

  <div>
    <label>Player2 Name</label>
    <input type="text" name="player2" value="name2">
  </div>

  <input type="submit" value="Start Game">
</form>

<br><br>